@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
    height: 100vh;
}

.greeting-container{
    width: 50vh;
    height: 50vh;
    background-color: #ceaf72;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.greeting-text{
    height: 30%;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

.username-input-container{
    height: 70%;
    display: flex;
    flex-direction: column;
}

.username-form-title{
    height: 30%;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
}

#username-form{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input-container{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container input {
    width: 88%;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.form-control {
	width: 18rem;
	height: 2.4rem;
	position: relative;
	border-radius: 5px;
    padding-left: 10px;
	background-color: #ffffff;
}

.form-control::-webkit-input-placeholder{
	color: #00000036;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container{
    height: 60%;
    display: flex;
    justify-content: center;
}

.button {
    height: 8vh;
    width: 25vh;
    align-items: center;
    background-color: rgb(251, 237, 237);
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.hidden {
    display: none;
}

#chat-page {
    position: relative;
    width: 100%;
    height: 100%;
}

.chat-container {
    border-radius: 15px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/background.png");
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 30px;
    height: calc(100% - 60px);
    max-height: 600px;
    position: relative;
}



#chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}

#chat-page #messageForm {
    padding: 20px;
    
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
    
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #43464b;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
    color:#FFF
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}


button.primary {
    height: 50px;
}